
<div class ="jumbotron">
   <h2 > <%= @post.title %> </h2 >
 <span class ="label label-primary">
 Atualizado em <%=@post.updated_at.strftime("%d %b, %Y") %>
     </span >
   </div >
 <div class =" panel panel-default ">
   <div class ="panel-body ">

  <p>
    <strong>Body: </strong>
    <%= @post.body %>
    </p>
     </div >
<div class ="text-right ">
 <%= link_to 'Back', posts_path , class: 'btn btn-outline-secondary' %>
   </div >
   </div >

